<!-- Page title -->
<div class="page-header d-print-none text-white">
  <div class="row g-2 align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">
        Pages
      </div>
      <h2 class="page-title">
        Real Form, Toaster/Flash Example
      </h2>
    </div>
    <!-- Page title actions -->
    <div class="col-12 col-md-auto ms-auto d-print-none">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <%= link_to "New page", new_page_path, class: "btn btn-primary" %>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card card-lg">
        <div  id="pages" class="card-body">
          <% @pages.each do |page| %>
            <%= render page %>
            <p>
              <%= link_to "Show this page", page %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
