<!-- Page title -->
<div class="page-header d-print-none text-white">
  <div class="row g-2 align-items-center">
    <div class="col">
      <!-- Page pre-title -->
      <div class="page-pretitle">
        Changelog
      </div>
      <h2 class="page-title">
        Navbar overlap layout
      </h2>
    </div>
    <!-- Page title actions -->
    <div class="col-12 col-md-auto ms-auto d-print-none">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <a href="https://tabler.io/preview" class="btn btn-danger" target="_blank">
            See Official preview
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card card-lg">
        <div class="card-body markdown">
          <h1>Changelog</h1>
          <div class="mb-4">
            <h2 class="mb-2">
              <span>1.0.0-beta20</span> –
              <small>August 24, 2023</small>
            </h2>
            <ul>
              <li>Update <code class="language-plaintext highlighter-rouge">bootstrap</code> to v5.3.1</li>
              <li>Add new <code class="language-plaintext highlighter-rouge">Chat</code> component</li>
              <li>Add new <code class="language-plaintext highlighter-rouge">Tag</code> component</li>
              <li>Add customizable Star Ratings component using <code class="language-plaintext highlighter-rouge">star-rating.js</code> library</li>
              <li>Add new color picker component using <code class="language-plaintext highlighter-rouge">coloris.js</code> library</li>
              <li>Add <code class="language-plaintext highlighter-rouge">alerts.html</code> page with example of alerts.</li>
              <li>Add <code class="language-plaintext highlighter-rouge">flags.html</code> page with list of all flags</li>
              <li>Add Two-Step Verification Pages</li>
              <li>Add variable to configure <code class="language-plaintext highlighter-rouge">avatar-list</code> spacing</li>
              <li>Unify dark mode with latest Bootstrap API and improve dark mode elements</li>
              <li>Unify Box Shadows with Bootstrap Compatibility</li>
              <li>Avoid SCSS color dependency on <code class="language-plaintext highlighter-rouge">:focus</code></li>
              <li>Update CSS class from <code class="language-plaintext highlighter-rouge">text-muted</code> to <code class="language-plaintext highlighter-rouge">text-secondary</code> for better Bootstrap compatibility</li>
              <li>Fix text color in dark version of navbar</li>
              <li>Adjusting form element sizes for enhanced mobile devices compatibility</li>
              <li>Resolved light dropdown issue on dark theme</li>
              <li>Update Tabler Icons to version 2.32 with 48 new icons added</li>
              <li>Fix table default background color</li>
              <li>Fix responsiveness issue in Settings menu</li>
              <li>Update required Node.js version to 18 and add <code class="language-plaintext highlighter-rouge">.nvmrc</code> file</li>
              <li>Add support for changeset tool for more efficient and organized code changes</li>
              <li><code class="language-plaintext highlighter-rouge">Dockerfile</code> fix</li>
              <li>Switch from <code class="language-plaintext highlighter-rouge">npm</code> to <code class="language-plaintext highlighter-rouge">pnpm</code> for faster package installation</li>
            </ul>
          </div>
          <div class="mb-4">
            <h2 class="mb-2">
              <span>1.0.0-beta19</span> –
              <small>May 15, 2023</small>
            </h2>
            <ul>
              <li>Add customizable Star Ratings component using <code class="language-plaintext highlighter-rouge">star-rating.js</code> library (<a href="https://github.com/tabler/tabler/issues/1571" target="_blank" rel="noopener">#1571</a>)</li>
              <li>Add new “Filled” section to Icons page (<a href="https://github.com/tabler/tabler/issues/1574" target="_blank" rel="noopener">#1574</a>)</li>
              <li>Fix form controls bugs in dark mode (<a href="https://github.com/tabler/tabler/issues/1573" target="_blank" rel="noopener">#1573</a>)</li>
              <li>Fix text color in dark version of navbar (<a href="https://github.com/tabler/tabler/issues/1569" target="_blank" rel="noopener">#1569</a>)</li>
              <li>Changelog update</li>
            </ul>
          </div>
          <div class="mb-4">
            <h2 class="mb-2">
              <span>1.0.0-beta18</span> –
              <small>May 14, 2023</small>
            </h2>
            <ul>
              <li>new page: Cookie banner</li>
              <li>Unify dark mode with latest Bootstrap API and improve dark mode elements (<a href="https://github.com/tabler/tabler/issues/1561" target="_blank" rel="noopener">#1561</a>)</li>
              <li>Update Tabler Icons to version 2.18 with 18 new icons added (<a href="https://github.com/tabler/tabler/issues/1560" target="_blank" rel="noopener">#1560</a>)</li>
              <li>Switch from <code class="language-plaintext highlighter-rouge">npm</code> to <code class="language-plaintext highlighter-rouge">pnpm</code> for faster package installation (<a href="https://github.com/tabler/tabler/issues/1559" target="_blank" rel="noopener">#1559</a>)</li>
              <li>Add Prettier to project for consistent code formatting (<a href="https://github.com/tabler/tabler/issues/1558" target="_blank" rel="noopener">#1558</a>)</li>
              <li>Update required Node.js version to 18 and add <code class="language-plaintext highlighter-rouge">.nvmrc</code> file (<a href="https://github.com/tabler/tabler/issues/1555" target="_blank" rel="noopener">#1555</a>)</li>
              <li>Add All Contributions package to project for easy contribution tracking (<a href="https://github.com/tabler/tabler/issues/1556" target="_blank" rel="noopener">#1556</a>)</li>
              <li>Add support for changeset tool for more efficient and organized code changes (<a href="https://github.com/tabler/tabler/issues/1553" target="_blank" rel="noopener">#1553</a>)</li>
              <li>Fix bug where <code class="language-plaintext highlighter-rouge">border-1</code>, <code class="language-plaintext highlighter-rouge">border-2</code>, etc don’t work (<a href="https://github.com/tabler/tabler/issues/1526" target="_blank" rel="noopener">#1526</a>)</li>
              <li>Fix indeterminate input background color (<a href="https://github.com/tabler/tabler/issues/1536" target="_blank" rel="noopener">#1536</a>)</li>
              <li>Update Bootstrap to <code class="language-plaintext highlighter-rouge">5.3.0-alpha3</code> (<a href="https://github.com/tabler/tabler/issues/1543" target="_blank" rel="noopener">#1543</a>)</li>
              <li><code class="language-plaintext highlighter-rouge">tom-select</code> dark mode styling fixes</li>
              <li>Advanced udage of <code class="language-plaintext highlighter-rouge">tom-select</code> (<a href="https://github.com/tabler/tabler/issues/1480" target="_blank" rel="noopener">#1480</a>)</li>
              <li>Fix Dropdown menu in rtl mode (<a href="https://github.com/tabler/tabler/issues/801" target="_blank" rel="noopener">#801</a>)</li>
              <li>Fix <code class="language-plaintext highlighter-rouge">tom-select</code> dropdown will be shaded in table-responsive (<a href="https://github.com/tabler/tabler/issues/1409" target="_blank" rel="noopener">#1409</a>)</li>
              <li>Remove overflow scroll from body</li>
              <li>Fix avatars overlap transparently (<a href="https://github.com/tabler/tabler/issues/1464" target="_blank" rel="noopener">#1464</a>)</li>
              <li>Fix TinyMCE dropdown icon list transparent (<a href="https://github.com/tabler/tabler/issues/1426" target="_blank" rel="noopener">#1426</a>)</li>
              <li>Dark mode lite colors improvement</li>
              <li>Fix non full width selects (<a href="https://github.com/tabler/tabler/issues/1392" target="_blank" rel="noopener">#1392</a>)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
